{% extends 'base.html' %}
{% block title %}阿里云CDN{% endblock %}
{% block header %}阿里云CDN{% endblock %}
{% block update %}
{% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
{% endfor %}
    <p><a href="{{ url_for('update_aliyun_cdn') }}" class="button">更新数据</a></p>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>域名</th>
                <th>Cname</th>
                <th>创建时间</th>
                <th>加速范围</th>
                <th>回源地址</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}    
              <tr>
              <td>{{ row.DomainName }}</td>
              <td>{{ row.Cname }}</td>
              <td>{{ row.CreationTime }}</td>
              <td>{{ row.Coverage }}</td>
              <td>{{ row.OriginAddress }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
