{% extends 'base.html' %}
{% block title %}Dnspod域名列表{% endblock %}
{% block header %}dnspod域名列表{% endblock %}
{% block update %}
{% for message in get_flashed_messages() %}
    <p style="color: red;">{{ message }}</p>
{% endfor %}
    <p><a href="{{ url_for('update_dp_domains') }}" class="button">更新数据</a></p>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>域名id</th>
                <th>域名</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>关联记录数</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}    
              <tr>
              <td>{{ row.DomainId }}</td>
              <td>{{ row.DomainName }}</td>
              <td>{{ row.CreationTime }}</td>
              <td>{{ row.UpdateTime }}</td>
              <td>{{ row.Records }}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
